.slideshow-container {
  position: absolute;
  width: 820px;
  margin: auto;
  /* Position the image container (needed to position the left and right arrows) */
  /* Hide the images by default */
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Container for image text */
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}
.slideshow-container * {
  box-sizing: border-box;
}
.slideshow-container .container {
  position: relative;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .cursor {
  cursor: pointer;
}
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.slideshow-container .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.slideshow-container .row:after {
  content: "";
  display: table;
  clear: both;
}
.slideshow-container .column {
  float: left;
  width: 16.66%;
}
.slideshow-container .demo {
  opacity: 0.6;
}
.slideshow-container .active,
.slideshow-container .demo:hover {
  opacity: 1;
}

@media (min-width: 480px) and (max-width: 768px) {
  body header {
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body header img.vertical-center {
    transform: translateY(25%);
  }
  body .main {
    height: 100%;
    position: fixed;
    width: 100%;
    display: inline-block;
  }
  body .main.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px auto;
    column-gap: 10px;
  }
  body .main.grid-container .background-container {
    grid-area: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../images/guacahome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body .main.grid-container .item {
    grid-area: 2;
    grid-row-end: none;
    padding: 12pt;
  }
  body .main.grid-container .item.left .balloon {
    background-color: rgb(162, 238, 243);
  }
  body .main.grid-container .item.center .balloon {
    background-color: rgb(255, 246, 136);
  }
  body .main.grid-container .item.right .balloon {
    background-color: rgb(129, 207, 122);
  }
  body .main.grid-container .item .balloon {
    width: 100%;
    height: auto;
    min-height: 50px;
    min-width: 120px;
    box-shadow: 5px 5px 4px rgba(80, 80, 80, 0.5);
    border-radius: 25px;
    padding-top: 7pt;
    padding-bottom: 7pt;
    padding-left: 14pt;
    padding-right: 14pt;
  }
  body .main.grid-container .item .balloon.grid-container {
    display: grid;
    grid-template-rows: 5pt auto;
    grid-template-columns: 80% 20%;
  }
  body .main.grid-container .item .balloon.grid-container img {
    grid-column-start: 2;
    width: 100%;
    height: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 4px rgba(50, 50, 50, 0.8);
  }
  body .main.grid-container .item .balloon.grid-container .content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body footer {
    z-index: 99;
    border: none;
    border-top: 1px solid rgba(80, 80, 80, 0.5);
    height: 50px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  body footer .align-right {
    float: right;
    text-align: center;
    margin-right: 20px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  body header {
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body header img.vertical-center {
    transform: translateY(25%);
  }
  body .main {
    height: 100%;
    position: fixed;
    width: 100%;
    display: inline-block;
  }
  body .main.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 250px auto;
    column-gap: 10px;
  }
  body .main.grid-container .background-container {
    grid-area: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../images/guacahome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body .main.grid-container .item {
    grid-area: 2;
    grid-row-end: none;
    padding: 12pt;
  }
  body .main.grid-container .item.left .balloon {
    background-color: rgb(162, 238, 243);
  }
  body .main.grid-container .item.center .balloon {
    background-color: rgb(255, 246, 136);
  }
  body .main.grid-container .item.right .balloon {
    background-color: rgb(129, 207, 122);
  }
  body .main.grid-container .item .balloon {
    width: 100%;
    height: auto;
    min-height: 50px;
    min-width: 120px;
    box-shadow: 5px 5px 4px rgba(80, 80, 80, 0.5);
    border-radius: 25px;
    padding-top: 7pt;
    padding-bottom: 7pt;
    padding-left: 14pt;
    padding-right: 14pt;
  }
  body .main.grid-container .item .balloon.grid-container {
    display: grid;
    grid-template-rows: 5pt auto;
    grid-template-columns: 100%;
  }
  body .main.grid-container .item .balloon.grid-container img {
    grid-column-start: 2;
    width: 100%;
    height: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 4px rgba(50, 50, 50, 0.8);
  }
  body .main.grid-container .item .balloon.grid-container .content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body footer {
    z-index: 99;
    border: none;
    border-top: 1px solid rgba(80, 80, 80, 0.5);
    height: 50px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  body footer .align-right {
    float: right;
    text-align: center;
    margin-right: 20px;
    line-height: 50px;
  }
}
@media (min-width: 1280px) {
  body header {
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body header img.vertical-center {
    transform: translateY(25%);
  }
  body header .nav-item .selected {
    border-bottom: 3px solid rgb(243, 0, 0);
  }
  body .main {
    height: 100%;
    position: fixed;
    width: 100%;
    display: inline-block;
  }
  body .main .l-b-l {
    border-left: 1px solid rgb(243, 243, 243);
  }
  body .main .l-b-t {
    border-top: 1px solid rgb(243, 243, 243);
  }
  body .main .l-b-r {
    border-right: 1px solid rgb(243, 243, 243);
  }
  body .main .l-b-b {
    border-bottom: 1px solid rgb(243, 243, 243);
  }
  body .main .heart-icon {
    position: relative;
    width: 20px;
    height: 18px;
  }
  body .main .heart-icon:before,
  body .main .heart-icon:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 16px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  body .main .heart-icon:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  body .main.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 250px auto;
    column-gap: 10px;
    height: calc(100% - 50px);
  }
  body .main.grid-container .background-container {
    grid-area: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(../images/guacahome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
  }
  body .main.grid-container .item {
    grid-area: 2;
    grid-row-end: none;
    padding: 12pt;
    height: calc(100% - 50px);
  }
  body .main.grid-container .item.vertical-scroll {
    overflow-y: scroll;
  }
  body .main.grid-container .item.left .balloon {
    background-color: rgb(162, 238, 243);
  }
  body .main.grid-container .item.center .balloon {
    background-color: rgb(255, 246, 136);
  }
  body .main.grid-container .item.right .balloon {
    background-color: rgb(129, 207, 122);
  }
  body .main.grid-container .item p:first-child {
    text-indent: 4rem;
  }
  body .main.grid-container .item .balloon {
    width: 100%;
    height: auto;
    min-height: 50px;
    min-width: 120px;
    box-shadow: 5px 5px 4px rgba(80, 80, 80, 0.5);
    border-radius: 25px;
    padding-top: 7pt;
    padding-bottom: 7pt;
    padding-left: 14pt;
    padding-right: 14pt;
  }
  body .main.grid-container .item .balloon.grid-container {
    display: grid;
    grid-template-rows: 5pt auto;
    grid-template-columns: 80% 20%;
  }
  body .main.grid-container .item .balloon.grid-container img {
    grid-column-start: 2;
    width: 100%;
    height: auto;
    margin-top: 50%;
    transform: translateY(-50%);
    box-shadow: 5px 5px 4px rgba(50, 50, 50, 0.8);
  }
  body .main.grid-container .item .balloon.grid-container .content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  body .main.grid-container .gallery-container {
    display: inline-block;
  }
  body .main.grid-container .gallery-container .blog-url-1 {
    background-image: url(../images/guaca1.jpg);
  }
  body .main.grid-container .gallery-container .blog-url-2 {
    background-image: url(../images/guaca2.jpg);
  }
  body .main.grid-container .gallery-container .blog-url-3 {
    background-image: url(../images/guaca3.jpg);
  }
  body .main.grid-container .gallery-container .blog-url-4 {
    background-image: url(../images/guaca4.jpg);
  }
  body .main.grid-container .gallery-container .gallery-item {
    overflow: hidden;
    inset: 0px auto auto 0px;
    margin: 0px;
    width: 454px;
    height: 454px;
    opacity: 1;
    display: block;
    box-shadow: 5px 5px 4px rgba(80, 80, 80, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 2rem;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80%;
    font-size: 1.5rem;
    text-decoration: none;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .link a {
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info {
    margin-top: 10px;
    border-top: 1px solid rgb(171, 171, 171);
    width: 100%;
    left: 0px;
    right: 0px;
    display: inline-block;
    bottom: 27px;
    inset-inline-start: 24px;
    inset-inline-end: 24px;
    color: white;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description {
    display: flex;
    line-height: normal;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .left {
    display: flex;
    -webkit-margin-end: 16px;
    margin-inline-end: 16px;
    overflow: hidden;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .left .post-stats {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .left .post-stats span {
    position: relative;
    display: inline-flex;
    align-items: center;
    -webkit-padding-end: 2px;
    padding-inline-end: 2px;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .left .post-stats a {
    display: inline-flex;
    color: inherit;
    font: inherit;
    overflow: hidden;
    position: relative;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .right button.like {
    border: 0;
    background: none;
    padding: 0;
    color: inherit;
    font: inherit;
    font-size: inherit !important;
    line-height: 1;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .right button.like span {
    display: inline-flex;
    align-items: center;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .right button.like span span {
    padding-inline-end: 5px;
  }
  body .main.grid-container .gallery-container .gallery-item .blog-post .info .description .right button.like span div.like {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-size: contain;
    background-position: center;
  }
  body footer {
    z-index: 99;
    border: none;
    border-top: 1px solid rgba(80, 80, 80, 0.5);
    height: 50px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  body footer .social-media-container {
    text-align: center;
    margin-top: 7px;
  }
  body footer .icon {
    width: 32px;
    height: 32px;
    background-image: url(../images/icons/icons.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }
  body footer .icon.facebook {
    background-position: 0px 0px;
  }
  body footer .icon.instagram {
    background-position: -80px 0px;
  }
  body footer .icon.twitter {
    background-position: -40px 0px;
  }
  body footer .icon.whatsapps {
    background-position: -40px -36px;
  }
  body footer .align-right {
    float: right;
    text-align: center;
    margin-right: 20px;
    line-height: 50px;
    margin-top: -35px;
  }
}

/*# sourceMappingURL=styles.css.map */
